body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
  }
  
h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
}

h2 {
    text-align: center;
    margin-top: 400px;
    font-size: 40px;
    opacity: 0%;
    animation: fade-in-text 1s ease-in 4s forwards;
}

#img-container {
    position: relative;
    width: 200px; /* adjust to the size of your image */
    height: 200px;
    margin: 0 auto;
  }

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25%;
    height: auto;
    border-radius: 50%;
    transition-duration: 0.2s;
    opacity: 0;
    animation: roll-in 2s ease-in-out 5s forwards;
}

img:hover {
    width: 30%;
    transition-duration: 0.2s;
    transition-timing-function: linear;
   
   
}

  .countdown-container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-left: -480px;
  }
  
  .countdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .countdown-item span {
    font-size: 100px;
    font-weight: bold;
    color: #333333;
    opacity: 0;
    font-family: Arial, sans-serif;
    
  }
  
  .countdown-item p {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    margin-top: 5px;
    position: fixed;
    transform: translateY(68px);
  }
  
  .countdown-item:nth-child(1) span {
    animation: fade-in 1s ease-in-out 0.8s forwards;
  }
  
  .countdown-item:nth-child(2) span {
    animation: fade-in 1s ease-in-out 1.6s forwards;
  }
  
  .countdown-item:nth-child(3) span {
    animation: fade-in 1s ease-in-out 2.4s forwards;
  }
  
  .countdown-item:nth-child(4) span {
    animation: fade-in 1s ease-in-out 3.2s forwards;
  }

  
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fade-in-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes roll-in {
    0% {
      opacity: 0;
      transform: translateX(-300%) rotate(-270deg);
    }
    100% {
      opacity: 1;
      transform: translateX(0) rotate(0deg);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1040px) {
    h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 970px) {
    h1 {
        margin-top: 70px;
    }

    h2 {
        margin-top: 910px;
    }
    .countdown-container {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        margin-left: -100px;
    }

    .countdown-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 180px;
        height: 180px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .countdown-item p {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        margin-top: 5px;
        position: absolute;
        transform: translateY(68px);
      }

    .countdown-item span {
        font-size: 80px;
    }
}

@media screen and (max-width: 930px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}




